<div class='tours-container'>
    <button class='btn btn-info' *ngIf='position=="Regular"' (click)='create()' style='margin-left:20px;'>+Create New Tour</button>
    <br><br>
    <table class='table' style='text-align:center;' *ngIf='tours'>
        <thead>
            <tr>
                <th>ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Mode of Travel</th>
                <th>Ticket Cost</th>
                <th>Approving Manager</th>
                <th>Status</th>
                <th>Modified Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let tour of tours'>
                <td>{{ tour.id }}</td>
                <td>{{ tour.start_date }}</td>
                <td>{{ tour.end_date }}</td>
                <td>{{ tour.mode_of_travel }}</td>
                <td>{{ tour.ticket_cost }}</td>
                <td *ngIf='tour.approving_manager'>{{ tour.approving_manager.first_name + ' ' + tour.approving_manager.last_name }} </td> 
                <td *ngIf='!tour.approving_manager'>None</td>
                <td>{{ tour.status }}</td>
                <td>{{ tour.modified_date | date:'short' }}</td>
                <td>
                    <button class='btn btn-info manager-btn' style='margin-right:5px;' *ngIf='position == "Manager" && tour.status != "Submitted to Finance"' (click)='approve(tour.id)'>Approve</button>
                    <button class='btn btn-success manager-btn' style='margin-right:5px;' *ngIf='position == "Manager" && tour.status == "Approved"' (click)='submitToFinance(tour.id)'>Submit to Finance</button>
                    <button class='btn btn-success finance-manager-btn' style='margin-right:5px;' *ngIf='position == "Finance Manager"' (click)='approve(tour.id)'>Approve</button>
                    <button class='btn btn-info' style='margin-right:5px;' *ngIf='(tour.status=="Draft" || tour.status=="Request for Information") && position=="Regular" ' (click)='edit(tour.id)'>Edit</button>
                    <button class='btn btn-secondary' (click)='view(tour.id)'>View</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div style='text-align:center;' *ngIf='!tours'>
        No tours.
    </div>
</div>
    

<jw-modal id='edit-tour'>
    <div class='row'>
        <h1 class='col-lg-4 col-md-4 mx-auto' style='text-align:center;'>Edit Tour</h1>
    </div>
    <div>
        <form [formGroup]='editTourForm'>
            <div class='row'>
                <div class='purpose col-md-8 col-lg-8 mx-auto'>
                    <label for='purpose'>Purpose</label>
                    <input type='text' class='form-control' formControlName='purpose' id='purpose'>
                    <div class='error' *ngIf='editTourForm.controls["purpose"].errors'>This field is required.</div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-8 col-lg-8 mx-auto'>
                    <div class='row'>
                        <div class='start-date col-md-6 col-lg-6'>
                            <label for='start-date'>Start Date</label>
                            <input type='date' class='form-control' formControlName='startDate' id='start-date'>
                            <div class='error' *ngIf='editTourForm.controls["startDate"].errors'>This field is required.</div>
                        </div>
                        <div class='end-date col-md-6 col-lg-6'>
                            <label for='end-date'>End Date</label>
                            <input type='date' class='form-control' formControlName='endDate' id='end-date'>
                            <div class='error' *ngIf='editTourForm.controls["endDate"].errors'>This field is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-8 col-lg-8 mx-auto'>
                    <div class='row'>
                        <div class='mode-of-travel col-md-6 col-lg-6'>
                            <label for='mode-of-travel'>Mode of Travel</label>
                            <input type='text' class='form-control' formControlName='modeOfTravel' id='mode-of-travel' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='editTourForm.controls["modeOfTravel"].errors'>This field is required.</div>
                        </div>
                        <div class='ticket-cost col-md-6 col-lg-6'>
                            <label for='ticket-cost'>Ticket Cost</label>
                            <input type='text' class='form-control' formControlName='ticketCost' id='ticket-cost' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='editTourForm.controls["ticketCost"].errors'>This field is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-8 col-lg-8 mx-auto'>
                    <div class='row'>
                        <div class='origin-cab-fare col-md-6 col-lg-6'>
                            <label for='origin-cab-fare'>Origin Cab Fare</label>
                            <input type='text' class='form-control' formControlName='originCabFare' id='origin-cab-fare' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='editTourForm.controls["originCabFare"].errors'>This field is required.</div>
                        </div>
                        <div class='destination-cab-fare col-md-6 col-lg-6'>
                            <label for='destination-cab-fare'>Destination Cab Fare</label>
                            <input type='text' class='form-control' formControlName='destinationCabFare' id='destination-cab-fare' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='editTourForm.controls["destinationCabFare"].errors'>This field is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-8 col-lg-8 mx-auto'>
                    <div class='row'>
                        <div class='hotel-cost col-md-6 col-lg-6 mx-auto'>
                            <label for='hotel-cost'>Hotel Cost</label>
                            <input type='text' class='form-control' formControlName='hotelCost' id='hotel-cost' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='editTourForm.controls["hotelCost"].errors'>This field is required.</div>
                        </div>
                        <div class='destination-conveyance col-md-6 col-lg-6 mx-auto'>
                            <label for='destination-conveyance'>Destination Conveyance</label>
                            <input type='text' class='form-control' formControlName='destinationConveyance' id='destination-conveyance'>
                            <div class='error' *ngIf='editTourForm.controls["destinationConveyance"].errors'>This field is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='approving-manager' *ngIf='approvingManagers'>
                <div class='approving-manager col-md-4 col-lg-4 mx-auto'>
                    <label for='approving-manager'>Approving Manager</label>
                    <select class='form-control' formControlName='approvingManager' id='approving-manager'>
                        <option *ngFor='let am of approvingManagers' [value]='am.id'>{{ am.first_name + " " + am.last_name }}</option>
                    </select>
                </div>
            </div>
            <div class='additional-information' *ngIf='tourStatus=="Request for Information"'>
                <div class='additional-information col-md-8 col-lg-8 mx-auto'>
                    <label for='additional-information'>Additional Information</label>
                    <input type='text' class='form-control' formControlName='additionalInformation' id='additional-information'>
                </div>
            </div>
        </form>   
    </div>
    <br>
    <div class='row'> 
        <div class='col-md-4 col-lg-4 mx-auto' style='text-align:center'>
            <button class='btn btn-info' style='margin-right:5px;' (click)='editSubmit(tourID)' [disabled]='!editTourForm.valid'>Save As Draft</button>
            <button class='btn btn-success' style='margin-right:5px;' (click)='editSubmit(tourID, "submitted")' [disabled]='!editTourForm.valid'>Submit</button>
            <button class='btn btn-danger'style='margin-right:5px;' (click)='closeModal("edit-tour");'>Cancel</button>
        </div>
    </div>
</jw-modal>

<jw-modal id='view-tour'>
    <div class='row'>
        <h1 class='col-lg-4 col-md-4 mx-auto' style='text-align:center;'>View Tour</h1>
    </div>
    <br>
    <div class='col-lg-6 col-md-6 mx-auto'>
        <table class='table table-striped' *ngIf='tourData'>
            <tr>    
                <td style='font-weight:bold;'>Purpose:</td>
                <td >{{ tourData.purpose }} </td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Start Date:</td>
                <td>{{ tourData.start_date }} </td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>End Date:</td>
                <td>{{ tourData.end_date }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Mode of Travel:</td>
                <td>{{ tourData.mode_of_travel }} </td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Ticket Cost:</td>
                <td>{{ tourData.ticket_cost }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Origin Cab Fare:</td>
                <td>{{ tourData.origin_cab_fare }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Destination Cab Fare:</td>
                <td>{{ tourData.destination_cab_fare }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Hotel Cost:</td>
                <td>{{ tourData.hotel_cost }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Local Conveyance:</td>
                <td>{{ tourData.conveyance }}
            </tr>
            <tr *ngIf='tourData.additional_information'>
                <td style='font-weight:bold;'>Additional Information:</td>
                <td>{{ tourData.additional_information }}
            </tr>
            <tr *ngIf='tourData.approving_manager'>
                <td style='font-weight:bold;'>Approving Manager:</td>
                <td>{{ tourData.approving_manager.first_name + ' ' + tourData.approving_manager.last_name }}
            </tr>
            <tr>
                <td style='font-weight:bold;'>Status</td>
                <td>{{ tourData.status}}
            </tr>
            <tr *ngIf='tourData.feedback_date'>
                <td style='font-weight:bold;'>Feedback Date:</td>
                <td>{{ tourData.feedback_date | date:'short' }}</td>
            </tr>
            <tr *ngIf='tourData.financial_manager'>
                <td style='font-weight:bold;'>Financial Manager:</td>
                <td>{{ tourData.financial_manager.first_name + ' ' + tourData.financial_manager.last_name }}</td>
            </tr>
            <tr *ngIf='tourData.remarks'>
                <td style='font-weight:bold;'>Admin Remarks:</td>
                <td>{{ tourData.remarks }}</td>
            </tr>
        </table>
    </div>
    <br>
    <div class='row'> 
        <div class='col-md-4 col-lg-4 mx-auto' style='text-align:center;'>
            <button class='btn btn-info' (click)='closeModal("view-tour");'>Close</button>
        </div>
    </div>
    
</jw-modal>
<jw-modal id='create-tour'>
    <div class='row'>
        <h1 class='col-lg-4 col-md-4 mx-auto' style='text-align:center;'>Create Tour</h1>
    </div>
    <div>
        <form [formGroup]='createTourForm'>
            <div class='row'>
                <div class='purpose col-md-8 col-lg-8 mx-auto'>
                    <label for='create-purpose'>Purpose</label>
                    <input type='text' class='form-control' formControlName='purpose' id='create-purpose'>
                    <div class='error' *ngIf='createTourForm.controls["purpose"].errors'>This field is required.</div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-8 col-lg-8 mx-auto'>
                    <div class='row'>
                        <div class='create-start-date col-md-6 col-lg-6'>
                            <label for='start-date'>Start Date</label>
                            <input type='date' class='form-control' formControlName='startDate' id='create-start-date'>
                            <div class='error' *ngIf='createTourForm.controls["startDate"].errors'>This field is required.</div>
                        </div>
                        <div class='create-end-date col-md-6 col-lg-6'>
                            <label for='end-date'>End Date</label>
                            <input type='date' class='form-control' formControlName='endDate' id='create-end-date'>
                            <div class='error' *ngIf='createTourForm.controls["endDate"].errors'>This field is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-8 col-lg-8 mx-auto'>
                    <div class='row'>
                        <div class='create-mode-of-travel col-md-6 col-lg-6'>
                            <label for='mode-of-travel'>Mode of Travel</label>
                            <input type='text' class='form-control' formControlName='modeOfTravel' id='create-mode-of-travel'>
                            <div class='error' *ngIf='createTourForm.controls["modeOfTravel"].errors'>This field is required.</div>
                        </div>
                        <div class='create-ticket-cost col-md-6 col-lg-6'>
                            <label for='ticket-cost'>Ticket Cost</label>
                            <input type='text' class='form-control' formControlName='ticketCost' id='create-ticket-cost' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='createTourForm.controls["ticketCost"].errors'>This field is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-8 col-lg-8 mx-auto'>
                    <div class='row'>
                        <div class='create-origin-cab-fare col-md-6 col-lg-6'>
                            <label for='origin-cab-fare'>Origin Cab Fare</label>
                            <input type='text' class='form-control' formControlName='originCabFare' id='create-origin-cab-fare' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='createTourForm.controls["originCabFare"].errors'>This field is required.</div>
                        </div>
                        <div class='create-destination-cab-fare col-md-6 col-lg-6'>
                            <label for='destination-cab-fare'>Destination Cab Fare</label>
                            <input type='text' class='form-control' formControlName='destinationCabFare' id='create-destination-cab-fare' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='createTourForm.controls["destinationCabFare"].errors'>This field is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='col-md-8 col-lg-8 mx-auto'>
                    <div class='row'>
                        <div class='hotel-cost col-md-6 col-lg-6 mx-auto'>
                            <label for='create-hotel-cost'>Hotel Cost</label>
                            <input type='text' class='form-control' formControlName='hotelCost' id='create-hotel-cost' placeholder='E.g. $400.00'>
                            <div class='error' *ngIf='createTourForm.controls["hotelCost"].errors'>This field is required.</div>
                        </div>
                        <div class='destination-conveyance col-md-6 col-lg-6 mx-auto'>
                            <label for='create-destination-conveyance'>Destination Conveyance</label>
                            <input type='text' class='form-control' formControlName='destinationConveyance' id='create-destination-conveyance'>
                            <div class='error' *ngIf='createTourForm.controls["destinationConveyance"].errors'>This field is required.</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class='approving-manager' *ngIf='approvingManagers'>
                <div class='approving-manager col-md-4 col-lg-4 mx-auto'>
                    <label for='create-approving-manager'>Approving Manager</label>
                    <select class='form-control' formControlName='approvingManager' id='create-approving-manager'>
                        <option *ngFor='let am of approvingManagers' [value]='am.id'>{{ am.first_name + " " + am.last_name }}</option>
                    </select>
                </div>
            </div>
        </form>   
    </div>
    <br>
    <div class='row'> 
        <div class='col-md-4 col-lg-4 mx-auto' style='text-align:center'>
            <button class='btn btn-info' style='margin-right:5px;' (click)='createSubmit("draft")' [disabled]='!createTourForm.valid'>Save As Draft</button>
            <button class='btn btn-success' style='margin-right:5px;' (click)='createSubmit("submitted")' [disabled]='!createTourForm.valid'>Submit</button>
            <button class='btn btn-danger'style='margin-right:5px;' (click)='closeModal("create-tour");'>Cancel</button>
            {{ createTourForm.errors }}
        </div>
    </div>
    
</jw-modal>

<jw-modal id='approve-tour'>
    <div class='row'>
        <h1 class='col-lg-4 col-md-4 mx-auto' style='text-align:center;'>Approve Tour</h1>
    </div>
    <br>
    <div class='col-lg-6 col-md-6 mx-auto'>
        <table class='table table-striped' *ngIf='tourData'>
            <tr>    
                <td style='font-weight:bold;'>Purpose:</td>
                <td >{{ tourData.purpose }} </td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Start Date:</td>
                <td>{{ tourData.start_date }} </td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>End Date:</td>
                <td>{{ tourData.end_date }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Mode of Travel:</td>
                <td>{{ tourData.mode_of_travel }} </td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Ticket Cost:</td>
                <td>{{ tourData.ticket_cost }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Origin Cab Fare:</td>
                <td>{{ tourData.origin_cab_fare }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Destination Cab Fare:</td>
                <td>{{ tourData.destination_cab_fare }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Hotel Cost:</td>
                <td>{{ tourData.hotel_cost }}</td>
            </tr>
            <tr>
                <td style='font-weight:bold;'>Local Conveyance:</td>
                <td>{{ tourData.conveyance }}
            </tr>
            <tr *ngIf='tourData.additional_information'>
                <td style='font-weight:bold;'>Additional Information:</td>
                <td>{{ tourData.additional_information }}
            </tr>
            <tr *ngIf='tourData.approving_manager'>
                <td style='font-weight:bold;'>Approving Manager:</td>
                <td>{{ tourData.approving_manager.first_name + ' ' + tourData.approving_manager.last_name }}
            </tr>
        </table>
        <form [formGroup]='approveTourForm'>
            <div class='row'>
                <div class='status col-md-12 col-lg-12'>
                    <label for='status'>Status</label>
                    <select class='form-control' formControlName='status' id='status'>
                        <option value='Approved'>Approved</option>
                        <option value='Rejected'>Rejected</option>
                        <option value='Request for Information'>Request for Information</option>
                    </select>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='remarks col-md-12 col-lg-12'>
                    <label for='remarks'>Remarks</label>
                    <input type='text' class='form-control' formControlName='remarks' id='remarks'>
                </div>
            </div>
        </form>       
    </div>
    <br>
    <div class='row'> 
        <div class='col-md-4 col-lg-4 mx-auto' style='text-align:center'>
            <button class='btn btn-success' style='margin-right:5px;' (click)='approveSubmit(tourData.id)'>Submit</button>
            <button class='btn btn-danger'style='margin-right:5px;' (click)='closeModal("approve-tour");'>Cancel</button>
        </div>
    </div>
    
</jw-modal>




  

